*.dep
*.map
*.o
*.elf

*.rom
*.ps-exe
*.psx
*.exe

config/Makefile.conf
config/LICENSE?.DAT

kernel_hook.bin

cartrom/rom_rounder/rom_rounder
cartrom/rom_rounder/rom_rounder.exe

ar_flash/ar_flash.bin
ar_flash/ar_flash.cue

libsn_usb/ps1usb_example.bin
libsn_usb/ps1usb_example.cue

ps1transfer/bin/
ps1transfer/obj/
ps1transfer/ps1transfer
ps1transfer/ps1transfer.exe
